<%- include("partials/header"); -%>

    <h1>About</h1>
    <p style="font-weight: 900;">Just touch me...I know sounds a little bit ambiguous.</p>
    <p contenteditable=""><%= aboutContent %></p>

<%- include("partials/footer"); -%>